html,body {
    height: 100%;
    width: 100%;
   


}
.test{
    border: black solid 3px;
}
.list-info-card{
    list-style-type: none;
}
.list-span{
    
    font-size: 100%;
   
   
}

.main-sec{
    background-color: #90e0ef;
    height: 100vh;
    overflow: auto;
}

.header-cards-font{
    font-family: 'Grechen Fuemen', cursive;
    font-size: 190%;
    font-weight: bolder;
}
.p-font-size{
    font-size: 1.2vw;
}
.sec-main-sec{
    background-color: #caf0f8;
    border-radius: 10px;
    box-shadow: 15px 13px 5px 0px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 15px 13px 5px 0px rgba(51, 93, 104, 0.46);
    -moz-box-shadow: 15px 13px 5px 0px rgba(51, 125, 134, 0.46);
    
    
}


.sun-img{
    top:0px;
    left: 10px;
    position: absolute;
    width:20%;
}

.moring-seen{
    width: 100%;
    height: 100%;
    position: absolute;
    
}

/******* Bird seen *********/

.bird-canv{
    
  
    position: absolute;
   
    top:10%;
    padding-top: 0;
    width: 250%;
    height: 400px;
    z-index: 999;
    padding-right: 77%;
    padding-left: 77%
}




/******* slider *********/
.carousel-item{
    margin: 0 auto;
}


/******* night seen *********/
.night-seen{
    
   
    

}

.moring-seen{
    display: none;
}





html { background: linear-gradient(#000005, #050520); }

canvas {
  display: block;
  
  position: absolute;
  width: 100%;
}

#light {
    background: radial-gradient(30% 60%, circle contain, hsla(240, 100%, 20%, .25) 0%, hsla(240, 0%, 0%, 0) 100%);
    height: 80%;
    left: 0;
    position: absolute;
    width: 100%;
  
  }

#ground {
  background: linear-gradient(#101020, #001);
  bottom: 0;
  height: 30%;
  left: 0;
  position: absolute;
  width: 100%;
}

#moon {
  background: linear-gradient(#99a, rgb(242, 242, 245));
  border-radius: 100%;
  box-shadow: 0 0 150px hsla(0, 0%, 100%, .3);
  top: 20%;
  height: 200px;
  left: 10%;
  margin: -100px 0 0 -100px;
  position: absolute;
  width: 200px;
}

#house {
  background: #000;
  bottom: 30%;
  height: 18px;
  left: 30%;
  margin: 0 0 0 -15px;
  position: absolute;
  width: 30px;
}

#house:before {
  background: #000;
  top: -15px;
  content: '';
  display: block;
  height: 12px;
  left: 21px;
  margin: 0 0 0 0;
  position: absolute;
  width: 6px;
  z-index: 2;
}

#house:after {
  border-bottom: 15px solid #000;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  top: -15px;
  content: '';
  display: block;
  height: 0;
  left: 50%;
  margin: 0 0 0 -20px;
	position: absolute;
  width: 0;
}


/******      plane             *******/ 
.plane {
   position: absolute;
   z-index: 1;
   width: 100%;
  height: 60px;
  top:10%;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  
    -webkit-animation: paper-plane-soaring 4s forwards infinite;
    -moz-animation: paper-plane-soaring 4s forwards infinite;
    animation: paper-plane-soaring 4s forwards infinite;
  }
  @-webkit-keyframes paper-plane-soaring {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    40% {
      -webkit-transform: rotate(15deg);
      -moz-transform: rotate(15deg);
      transform: rotate(15deg);
    }
    50% {
      -webkit-transform: rotate(15deg);
      -moz-transform: rotate(15deg);
      transform: rotate(15deg);
    }
    60% {
      -webkit-transform: rotate(-10deg);
      -moz-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
    70% {
      -webkit-transform: rotate(-10deg);
      -moz-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  
